[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"ruamel.yaml" = "*"
pygithub = "*"
semver = "==2.13.0"
python-gitlab = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
